.portfolio {
  &__content {
    padding: 20px;
    width: 100%;

    &__filter {
      display: inline-block;
      margin: 0 auto;
      border-radius: 26px;
      border: 1px dashed var(--selected-theme-main-color);
      line-height: 0;
      text-align: center;

      li {
        font-size: 16px;
        display: inline-block;
        cursor: pointer;
        position: relative;
        color: var(--selected-theme-main-color);
        text-transform: uppercase;
        padding: 20px;
        transition: all 0.4s ease;
        font-family: Roboto, sans-serif;;
      }
    }

    &__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      margin-top: 10px;

      &__item {
        height: 366px;
        cursor: pointer;
        position: relative;

        &__img-wrapper {
          height: 100%;

          a {
            height: 100%;

            img {
              height: inherit;
              object-fit: cover;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
